<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testNotice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A67C03F31BFD6F3D00D7BB71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A67C040F1BFD6F3D00D7BB71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A67C041A1BFD6F3D00D7BB71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
